@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

.fa-facebook {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #dc4e41;
}

.fa-github-square {
    color: black;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-download {
    color: #738a8d;
}

li {
    list-style: none;
}

.card-img-top {
    height: 175px;
}

#initiales {
    font-family: 'Alex Brush', cursive;
    margin-bottom: 0px;
    font-size: 25px;
}

#backend,
#frontend,
#methodologie {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
    color: white;
}

#experience,
#competences,
#diplomes {
    background-color: #f4f4f4;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 0px;
    padding-top: 0px;
}

#diplomes,
#experience {
    padding-bottom: 20px;
}

section,
.section {
    padding: 90px 0 120px
}

.title {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin-top: 40px;
    text-align: center;
    font-size: 160%;
    text-transform: uppercase;
    font-weight: 900
}

#titleprojet {
    margin-top: 0px;
}

.col {
    display: block;
    float: left;
    width: 99%;
    margin-left: .5%;
    margin-right: .5%
}

.col-right {
    float: right;
    width: 99%;
    margin-left: .5%;
    margin-right: .5%
}

.block {
    display: block;
    /* width: 5px; */
}

.m {
    margin: 5px
}

.mt {
    margin-top: 5px
}

.mb {
    margin-bottom: 5px
}

.mr {
    margin-right: 5px
}

.mmt {
    margin-top: 10px
}

.mmb {
    margin-bottom: 10px
}

.mmm {
    margin: 20px
}

.mmmt {
    margin-top: 20px
}

.mmmb {
    margin-bottom: 20px
}

.mmmm {
    margin: 40px
}

.mmmmt {
    margin-top: 40px
}

.mmmmb {
    margin-bottom: 40px
}

.mmmmmt {
    margin-top: 60px
}

.border-gray {
    border-bottom: 2px solid #677273
}

.border-blue {
    border-bottom: 2px solid #2e8ece
}

.border-purple {
    border-bottom: 2px solid #a66bbe
}

.border-carrot {
    border-bottom: 2px solid #e67e22
}

.bg-white {
    background-color: #fff
}

.bg-light {
    background-color: #f4f4f4
}

.bg-blue {
    background-color: #2e8ece
}

.bg-purple {
    background-color: #a66bbe
}

.bg-carrot {
    background-color: #e67e22
}

.white {
    color: #fff
}

.carrot {
    color: #e67e22;
}

.ming {
    color: #1ba39c
}

.blue {
    color: #2e8ece
}

.purple {
    color: #a66bbe
}

.txt-center {
    text-align: center
}

.intro {
    margin: 5px 0 60px;
    font-size: 90%;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    /* margin-bottom: 0px; */
}

@media screen and (min-width:1201px) {
    .row {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        justify-content: center;
    }
}

@media screen and (min-width:980px) {
    .large-col-3 {
        width: 23.75%
    }
}

.icon {
    display: none
}

.icon-skill {
    border: 10px solid #f4f4f4
}

.ico-backend:before {
    content: "\f103"
}

.ico-frontend:before {
    content: "\f10a"
}

/* EFFET LOGO */
.bounce-top:hover {
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-6 10:41:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.shake-horizontal:hover {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-6 10:39:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

.kenburns-top:hover {
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-6 10:37:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

/* FIN ROTATION */
.skill-title {
    display: block;
    font-size: 110%;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 15px;
}

.skill-list {
    margin: 10px 0 20px;
    padding-left: 0px;
}

@media screen and (min-width:980px) {
    .large-offset-1 {
        margin-left: 8.75%
    }

    .large-offset-0-5 {
        margin-left: 5%
    }
}

@media screen and (min-width:481px) {
    .small-offset-1 {
        margin-left: 8.75%
    }

    .small-offset-2 {
        margin-left: 17%
    }
}

@media screen and (min-width:768px) {
    .medium-offset-0 {
        margin-left: .5%
    }

    .medium-offset-1 {
        margin-left: 8.75%
    }

    .medium-offset-2 {
        margin-left: 17%
    }

    .medium-block {
        display: block
    }

    .medium-txt-left {
        text-align: left
    }

    .content-title {
        margin-bottom: 0
    }
}